---
title: false
styles: true
---


$headingtype: (
  font-family: "Roboto, sans-serif",
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.75
) !default;

$bodytype: (
  font-family: "Helvetica, sans-serif",
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.75
) !default;

.hello-world {
  horiz-align: left;
  text-align: left;
}

//.header {
//  align-items: start;
//}

@import "alembic";


.typeset code {
    font-size: small;
    line-height: 1em;
    display: block;
}

.typeset p a {
    text-shadow: 0.1rem 0 white;
}

.header {
  background-color: #181b21;
}

.header .feature {
  margin-bottom: 0;
}

.header .feature h2 {
  color: white;
}
.header .feature p {
  color: white;
}

//.header {
//  .container {
//    justify-content: left;
//    vertical-align: center;
//    align-items: start;
//  }
//}

.logo img {
  max-height: 2em;
}

.main p {
    font-size: large;
    line-height: 1.5em;
}

.button {
  font-size: medium;
  padding: 0px 7px;
  border-radius: 5px;
  line-height: 2em;
}

.main ul {
    font-size: large;
}

.grid {
  display: flex;
 }
div.col-1 {
  width: 30%;
  max-width: 30%;
}
.col-2 {
  flex: 1;
  margin-left: 20px;
}

div.screenshot {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

p.results-text {
  padding-left: 10px;
  font-size: 13pt;
}

span.results-text.indented {
  padding-left: 20px;
}

.desire-none {
  color: darkred;
}
.desire-moderate {
  color: #b89920;
}
.desire-high {
  color: #2c812c;
}